@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  color: black;
  font-family: "Comfortaa", cursive;
}

/* Sales Ledger formmating */
section.ledger {
  margin-top: 10px;
}

section.ledger h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

section.ledger ul {
  /* display: block; */
  margin-right: auto;
  margin-left: auto;
  width: 210px;
}

section.ledger ul li {
  color: blueviolet;
  margin-left: 25px;
  list-style: disc;
}

/* Sales table ledger */

table tr td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

table thead {
  font-weight: bolder;
  padding-bottom: 5px;
}

table tr th {
  font-weight: bolder;
  padding-right: 5px;
}

input:invalid:required {
  box-shadow: 0 0 5px 1px red; /*MDN website*/
}
