@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
}

/* Sales Ledger formmating */
section.ledger {
  color: blue;
  font-family: "Azeret Mono", monospace;
  margin-top: 10px;
}

section.ledger h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

section.ledger ul li {
  color: blueviolet;
  margin-left: 25px;
  list-style: disc;
}
